body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #0a143a;
  padding: 10px;
}
.container {
  max-width: 1146px;
  margin: auto;
}
.header {
  padding: 30px 0;
  margin-bottom: 12px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}
.navbar-menu {
  margin-right: auto;
}
.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0 22px 0 22px;
}

.menu-item:not(:last-child) {
  margin-right: 14px;
}

.menu-link {
  text-decoration: none;
  color: inherit;
}

.button {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  padding: 10px 15px;
}

.button-link {
  color: inherit;
}

.button-primary {
  background: #256eeb;
  border-radius: 5px;
  color: white;
}

.search-panel {
  padding: 3px;
  display: flex;
  height: 50px;
  background: #256eeb;
  border-radius: 5px;
}
.search-input {
  flex-grow: 1;
  border-radius: 5px;
  background: white;
  border: none;
  padding: 0 22px;
}

.search-button {
  background: #256eeb;
  border: none;
  color: white;
  padding: 0 17px 0 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.search-button-text {
  margin-left: 5px;
}

.page-content {
  display: grid;
  grid-template-columns: 9fr 3fr;
  grid-column-gap: 30px;
}

.card-img {
  border-radius: 10px;
  width: 264px;
  height: 178px;
  object-fit: cover;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin-bottom: 20px;
}

.card:not(:nth-child(3n)) {
  margin-right: 20px;
}

.card-title {
  font-size: 16px;
  line-height: 19px;
  color: #256eeb;
  margin: 12px 0 5px 0;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 264px;
}

.like {
  background-color: white;
  border: none;
  cursor: pointer;
  margin-left: 15px;
}

.card-link {
  text-decoration: none;
}

.card-price {
  font-size: 16px;
  line-height: 19px;
  color: #0a143a;
  margin-bottom: 10px;
  display: block;
}

.card-text {
  font-size: 14px;
  line-height: 16px;
  color: #c4c4c4;
  margin: 0 0 4px 0;
}

.sidebar .page-title {
  font-size: 18px;
  line-height: 21px;
}

.service {
  margin-bottom: 25px;
}

.service-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  margin: 7px 0 5px 0;
}

.service-text {
  font-size: 14px;
  line-height: 16px;
  max-width: 217px;
}

.footer-text {
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  color: #c4c4c4;
  margin-bottom: 5px;
}

.footer-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 16px;
}

.footer-link {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  margin-bottom: 5px;
}

.content {
  max-width: 460px;
  margin-right: 30px;
}

.main-single {
  display: flex;
  align-items: flex-start;
}

.swiper-container {
  width: 100%;
  height: 357px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  width: 100%;
  border-radius: 10px;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
}

.content-text {
  font-size: 14px;
  line-height: 140%;
  color: inherit;
}

.author {
  min-width: 264px;
}

.author-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 0 30px 0;
}
.author-avatar {
  object-fit: cover;
  border-radius: 50%;
}

.author-name {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  display: block;
  margin-bottom: 4px;
}

.rating {
  margin-bottom: 5px;
}

.rating-counter {
  margin-left: 10px;
  opacity: 0.5;
}

.author-status {
  font-size: 12px;
  line-height: 14px;
}

.button-block {
  display: block;
  width: 100%;
  height: 54px;
  margin-bottom: 14px;
  border: none;
}
.button-succes {
  border-radius: 5px;
  background-color: #14b4be;
  color: white;
}

.single-price {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin: 0 0 25px 0;
  display: block;
}

.page-title {
  margin: 0 0 25px 0;
}
